<div class="serie-card" (click)="navigateToDetails()">
  <div class="poster-container">
    <img [src]="getImageUrl(serie.poster_path)" [alt]="serie.name" class="poster-image">
    <div class="media-type-badge">
      <lucide-icon [img]="Tv" size="16" title="Series"></lucide-icon>
    </div>
  </div>
  <div class="card-content">
    <h3 class="title">{{ serie.name }}</h3>
    <div class="genre-badges">
      <!-- First 2 genres -->
      <span class="genre-badge" *ngFor="let genre of getDisplayGenres()" [attr.data-genre]="genre.name.toLowerCase()">
        {{ genre.name }}
      </span>

      <!-- Next genres -->
      <span
        *ngIf="getAdditionalGenresCount() > 0"
        #moreBadge
        class="genre-badge more-genres"
        [attr.data-count]="getAdditionalGenresCount()"
        (mouseenter)="showTooltip()"
        (mouseleave)="hideTooltip()"
        (click)="$event.stopPropagation()">
        +{{ getAdditionalGenresCount() }}

        <!-- Tooltip placé à l'intérieur du badge -->
        <div #tooltipRef *ngIf="showMoreGenres" class="genres-tooltip">
          <div class="tooltip-content">
            <span *ngFor="let genre of getAdditionalGenres()">{{ genre.name }}</span>
          </div>
          <div class="tooltip-arrow"></div>
        </div>
      </span>
    </div>

    <p class="overview">{{ truncateOverview(serie.overview) }}</p>
    <div class="details">
      <span class="year" *ngIf="serie.first_air_date">{{ getYear(serie.first_air_date) }}</span>
      <span class="production" *ngIf="!serie.first_air_date">En producción</span>
      <span class="rating" *ngIf="serie.vote_average">
        <span class="star">★</span>
        {{ serie.vote_average | number:'1.1-1' }}
      </span>
    </div>
  </div>
</div>
