<div class="movie-card" (click)="onClick()">
  <div class="poster-container">
    <img [src]="getImageUrl(movie.poster_path)" [alt]="movie.title" class="poster-image">
    <div class="media-type-badge">
      <lucide-icon [img]="Film" size="16" title="Películas"></lucide-icon>
    </div>
  </div>
  <div class="card-content">
    <h3 class="title">{{ movie.title }}</h3>
    <p class="overview">{{ truncateOverview(movie.overview) }}</p>
    <div class="details">
      <span class="year" *ngIf="movie.release_date">{{ getYear(movie.release_date) }}</span>
      <span class="rating" *ngIf="movie.vote_average">
        <span class="star">★</span>
        {{ movie.vote_average | number:'1.1-1' }}
      </span>
    </div>
  </div>
</div>
