<div class="person-card" (click)="navigateToDetails()">
  <div class="poster-container">
    <img [src]="getImageUrl(person.profile_path)" [alt]="person.name" class="poster-image">
    <div class="media-type-badge">
      <lucide-icon [img]="Users" size="16" title="Persona"></lucide-icon>
    </div>
  </div>
  <div class="card-content">
    <h3 class="title" [title]="person.name">{{ truncateName(person.name) }}</h3>

    <div class="person-details">
      <!-- Affichage du rôle/personnage si disponible -->
      <p class="character-role" *ngIf="getRole()" [title]="getRole()">
        {{ truncateRole(getRole()) }}
      </p>

      <!-- Affichage du département si disponible -->
      <p class="known-for" *ngIf="person.known_for_department">{{ getKnownFor() }}</p>
    </div>
  </div>
</div>
